#numbers {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 100;
}

#numbers > div {
  white-space: nowrap;
  padding: 6px 0em 6px 0;
  float:left;
  width: 307px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#numbers > div > i {
  font-style: normal;
  padding-right: 17px;
  flex: 0;
  min-width: 63px;
  display: block;
  text-align: right;
}

#numbers > div > b {
  font-style: normal;
  font-weight: bold;
  font-size: 140%;
  /* flex: 1; */
}

#numbers > div > em {
  font-style: normal;
  font-size: 65%;
  font-family: 'Nothing You Could Do', cursive;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: right;
  flex: 1;
  padding-right: 1em;
}